body {
    font-family: sans-serif;
}

#content {
    padding-top: 200px;
    margin: 0 auto;
    width: 600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.button {
    background-color:#428BCA;
    height: 30px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.top-links li {
    display: inline;
}

.top-links li a {
        color: #000;
}

.icon {
    width: 20px;
    padding: 0px;
}

img {
    width: 272px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    height: 40px;
    border-style: none;
    color: rgba(0,0,0,.58);
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid rgba(0,0,0,.3);
    color: #000;
}

#search {
    transition: box-shadow .3s;
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.05);
    width: 500px;
    height: 40px;
    font-size: 18px;
    line-height: 1.2;
    padding-left: 10px;
    background: url(../images/mic.png) no-repeat right 20px center;
    background-size: 14px;
}

#search:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* gets rid of the blue outline when I click on any of these */
#search:focus,
.button:focus,
.btn:focus {
    outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}

footer {
  background-color: rgba(0,0,0,.054);
  height: 45px;
  line-height: 1.5;
}

hr {
  border-color: #CCD1D1;
  margin-bottom: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.links {
  list-style-type: none;
}

.links li {
  display: inline;
}

.links li a {
  color: rgba(0,0,0,.64);
  font-size: 13px;
}

a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

a:hover {
    text-decoration:underline;
}